.twitter-timeline{
	text-align: center;
}
.pagewrapper{
	 width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.logo{
	float: right; 
}
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
p.desc {
	text-align: center;
}
/*
h3 {
	text-align: center;
}
*/
p.text-muted{
	text-align: left;
}
img.CPHG{
	text-align: right;
}
p.links{
	text-align: right;
}